* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Lontara';
    src: url('./font/Lontara.ttf') format('truetype');
}

body {
    font-family: 'Quicksand', sans-serif;
    background-image: url('./images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.8);
}

.button-nav {
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    font-size: 20px;
    margin: 0 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    padding: 1rem;
}

.button-nav.active {
    border-bottom: 1px solid white;
}

.title {
    font-family: 'Lontara';
    font-size: 40px;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    border: 0.7px solid rgb(236, 236, 236);
    color: white;
    padding: 20px;
}

.title-content {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.description {
    font-size: 16px;
    text-align: justify;
    padding: 0 20px 20px 20px;
    line-height: 1.5;
}

.open-hour {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
}

.menu-layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 30px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    border: 0.7px solid rgb(214, 214, 214);
    color: white;
    padding: 20px;
    width: 70vw;
}

.img-menu {
    width: 120px;
    height: 120px;
}

.menu-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    padding: 20px;
}

i {
    font-size: 20px;
    padding-right: 10px;
}